<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="email" required />
  <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="error">
    <div *ngIf="email!.errors?.['required']">Email is required</div>
    <div *ngIf="email!.errors?.['pattern']">Email is not correct</div>
  </div>
  <input type="password" formControlName="password" />
  <button [disabled]="loginForm.invalid">Submit</button>
</form>

<h2>email: {{ loginForm.value.email }}</h2>
<h2>password: {{ loginForm.value.password }}</h2>
