<h1>Angular routing</h1>
<nav>
  <a
    class="button"
    routerLink=""
    routerLinkActive="activebutton"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a class="button" routerLink="/login" routerLinkActive="activebutton">Login</a>
  <a class="button" routerLink="/todos" routerLinkActive="activebutton">Todos</a>
  <a class="button" routerLink="/users" routerLinkActive="activebutton">Users</a>
  <a class="button" routerLink="/profile" routerLinkActive="activebutton">Profile</a>
</nav>
